# Project exclude paths
/cmake-build-debug/

# Ignore AllDocs
/AllDocs/

# Ignore upload zip
c1511002.zip

# Ignore .o files
*.o

# Ignore Custom Texts for Testing
/Custom\ Texts\ for\ Testing/

# Ignore executable
c1511002_BSTindex

# Ignore VSCode files
/.vscode/